// $main-color: rgb(192, 22, 22);

@import "vars";
@import "mixins";

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
}

body {
  font-family: "Roboto", "Noto Sans KR", "돋움";
  color: #111;
  font-size: 16px;
}

.container {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}
header {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    position: relative;
    h1 {
      left: 0;
      height: 100px;
      position: absolute;
      display: flex;
      align-items: center;
      a img {
        width: 80px;
      }
    }
  }
  .util {
    right: 0;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    li {
      .material-icons {
        font-size: 26px;
      }

      margin-left: 20px;
      &:hover {
        color: $main-color;
      }
    }
  }
}

#gnb .list {
  width: 100%;
  display: flex;
  justify-content: center;
  > li {
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 20px;
      position: absolute;
      left: -20px;
      padding: 0 20px;
    }
    &:hover .depth01 {
      color: $main-color;
    }
    &:hover .depth02 {
      display: block;
    }
    .depth01 {
      display: flex;
      height: 100px;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      font-weight: 500;
      font-size: 18px;
    }
    .depth02 {
      position: absolute;
      background-color: #fff;
      left: -20px;
      padding: 0 20px 20px 20px;
      width: 100%;
      border-radius: 10px;
      top: 120px;
      display: none;
      &:before {
        content: "";
        display: block;
        border: 10px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        top: -20px;
        left: calc(50% - 10px);
      }
      li {
        margin-top: 20px;
        text-align: center;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

footer {
  #family-site {
    margin: 100px;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        img {
          height: 30px;
        }
      }
    }
  }
  #footer {
    background-color: #000;
    color: #fff;
    padding: 100px 0;
    .container {
      display: flex;
      justify-content: space-between;
      .info {
        font-size: 15px;
        font-weight: 300;
        .util {
          margin-bottom: 40px;
          ul {
            display: flex;
            li {
              margin-right: 40px;
            }
          }
        }
        .address {
          margin-bottom: 40px;
          ul li {
            margin: 10px 0;
          }
        }
      }
      .sns {
        ul {
          display: flex;
          margin-bottom: 20px;
          li {
            margin-right: 20px;
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50px;
              height: 50px;
              background-color: #333;
              border-radius: 100%;
              transition: all 0.5s ease;
              &:hover {
                background-color: $main-color;
              }
            }
          }
        }
        .nts {
          img {
            height: 50px;
          }
        }
      }
    }
  }
}
